a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    transition: color 0.15s;
    position: relative;
}

a:hover {
    color: #aaa;
}

@font-face {
    font-family: 'mononoki-Regular';
    src: url('../assets/fonts/mononoki-Regular.woff2') format('woff2');
}

body {
    font-family: 'mononoki-Regular', monospace;
}
