@import "./base.css";

#app {
    max-width: 1920px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsl(227.7, 33.9%, 48%);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(227.7, 33.9%, 48%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}
